:root{
    --primary: #395144;
    --secondary: #b85014;
    --third: #4E6C50;
    --fourth: #edebda;
}
*{
    outline: red solid 1px;
    outline: none;
}
body{
    background-color: var(--fourth);
}
.bg-first{
    background-color: var(--primary);
}
.bg-two{
    background-color: var(--secondary);
}

#trips .card{
    width: 350px;
}
#trips img{
    height: 350px;
    object-fit: cover;
}
.carousel-inner{
    height: 500px;
}
.carousel-inner img{
    height: 500px;
    object-fit: cover;
}
footer a{
    color: whitesmoke;
}