:root{
    --primary: #395144;
    --secondary: #b3693e;
    --third: #4E6C50;
    --fourth: rgb(222, 218, 215);
}
*{
    outline: red solid 1px;
    outline: none;
}
body{
    background-color: var(--fourth);
}
.bg-first{
    background-color: var(--primary);
}
.bg-two{
    background-color: var(--secondary);
}
#hero{
    height: 100vh;
    overflow: hidden;
}
#hero img{
    object-fit: cover;
    position: absolute;
    bottom: -300px;
}
#trips .card{
    width: 350px;
}
#trips img{
    height: 350px;
    object-fit: cover;
}
#camping a, #travel a{
    display: flex;
    justify-content: center;
}
#camping img, #travel img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card{
    overflow: hidden;
    padding: 0;
    border: 0;
}
.carousel-inner{
    height: 500px;
}
.carousel-inner img{
    height: 500px;
    object-fit: cover;
}
footer a{
    color: whitesmoke;
}

@media (max-width: 800px){
    #hero{
        height: auto;
        overflow: hidden;
    }
    #hero img{
        object-fit: cover;
        position: relative;
        bottom: 0;
        width: 100%;
    }
}